# Byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]
*$py.class
*.spec
*.pyc

# Environmental variables and virtual environments
env/
.env

# Dist and build folders
dist/
build/

# Images
*.png
